<div class="d-flex align-items-center justify-content-center mb-3">
    <h1>Sign Up</h1>
</div>

<%= form_with model: @user, url: sign_up_path do |form| %>

    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control mb-3", placeholder: "name@example.com" %>

    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control mb-3", placeholder: "password" %>

    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control mb-3", placeholder: "password" %>

    <%= form.submit "Sign Up", class: "btn btn-primary" %>

<% end %>